<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../public/styles/main.css">
  <!-- other CSS -->
  <link rel="stylesheet" href="../public/styles/about.css">

  <!-- Main JS -->
<!--   <script defer src="/scripts/projectIndex.js"></script>
 -->
  <!-- jQuery -->
<script defer src="http://code.jquery.com/jquery-3.3.1.min.js"></script>


   <!-- Bootstrap JS -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>About the Consanis</title>

</head>

<header>

<section class="cover text-center">
    <nav class="navbar navbar-trans navbar-inverse navbar-expand-md navbar-dark pt-0 pb-0 pl-0 pr-0 mr-0 mr-l-0">
      <div class="container">

      <a class="navbar-brand" href="index.html" title = "Home page"><img src = "https://i.imgur.com/Gzm5P0x.png" alt = "cftravels" height = "35px" width = "330px" class = "m-0 p-0"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html" id= "one-link">ABOUT the Consanis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#alltrips.html" id= "two-link">Family Trips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#anna.html" id= "three-link">Anna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sammy.html" id= "four-link">Sammy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#jack.html" id= "five-link">Jack</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#momdad.html" id= "six-link">Mom & Dad</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</section>

</header>
 
<body>

  <div id = "page-container">
    <div id = "content-wrap">
    </div>

    <div class = "about-intro text-center mb-5">
      <h1>the consanis</h1>
      <p>Where are our next 3 places we want to travel to next?!</p>
    </div>

      <div class="container">
      
        <div class="row justify-content-md-center">

          <div class="col text-center col-6 col-md-4 ">
            <h3>Anna</h3>
              <div class = "bg-image" id = "anna">
              </div>
            <p>Thailand | Africa | Maine</p>
          </div>

          <div class="col text-center col-6 col-md-4">
            <h3>Sammy</h3>
              <div class = "bg-image" id = "sammy">
              </div>
            <p>Norway | Iceland | Montenegro</p>
          </div>

          <div class="col text-center col-6 col-md-4">
            <h3>Jack</h3>
              <div class = "bg-image" id = "jack">
              </div>
            <p>Peru | Australia | Amsterdam</p>
          </div>
       
        <div class="w-100 d-none d-md-block">
        </div>

          <div class="col text-center col-6 col-md-4 mt-5">
            <h3>Lisa</h3>
              <div class = "bg-image" id = "mom">
              </div>
            <p>Antartica | Greenland | Japan</p>
          </div>

          <div class="col text-center col-6 col-md-4 mt-5">
            <h3>Tad</h3>
              <div class = "bg-image" id = "dad">
              </div>
            <p>Grand Canyon | Yosemite | Zion </p>
          </div>

        </div>
      </div>
      
<!-- last div above for page content -->
                              <!-- footer -->
    
   
  </div>

</body>

</html>


