	/*body*/

body {
	font-family: 'Didact Gothic', sans-serif;
	height: 100%;
	color: black;
	/*margin-bottom:60px;*/
	display: block;
	background-color: grey;
}

body a {
	font-family: 'Didact Gothic', sans-serif;
	color: black;
}

body a:hover {
	color:white;
	text-decoration: none;
}

header {
	height: 800px;
}

.cover {
  background: url(https://i.imgur.com/sO9Cloe.jpg) center;
  background-color: black;
  background-size: cover;
  min-height: 50rem;
  /*height: auto;*/
  border-radius: 0;
  width: 100%;
  color: #fff;
  /*padding-top: 1rem;*/ 
}

.cover-container {
    display: table;
    /*height: 30%;*/
    min-height: 44rem;
    width: 100%;
    margin-top: 90px;
    /*position: fixed;*/

}


/*#sticky-footer{
	flex-shrink: 0;
}*/


					/*nav bar*/

.navbar-brand{
	background-color:white;
	padding: 0;
	margin: 0;
}

.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    /*height: 90px;*/
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

.nav-item{
	font-size: 12px;
	color: black;
	padding: 1px;
	font-weight: bold;
	/*color: white;*/

}

nav .navbar-nav li a{
  color: black !important;
  margin-right: 14px;
 
  }

  nav .navbar-nav li a:hover{
  /*border-width: 1px;*/
  /*color: #black !important;*/
  text-decoration: underline;
 
  }

.container {
	height: 80px;
}

/*.navbar {
	height: 80px;
	margin: 0;
	background-color:white;
}*/

/*.intro-content{
	background-color: black;
	height: 400px;
	color: white;
}*/

/*@media (min-width: 768px) {
  .navbar-nav.navbar-center, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

					/*footer*/

#page-container {
  position: relative;
  min-height: 100%;
  margin-top: 20px;
}


.footer-size {
	background-color: grey;
	height: 200px;
	width: 100%;
	bottom: 0;
	/*position: absolute;*/

}

.footer-container{
	width: auto;
	max-width: 680px;
	/*padding: 0 15px;*/
	margin-right: auto;
	margin-left: auto;
}

.footer-links {
	font-size: 15px;
	margin: 10px;
}

.moto-words p{
	color: white;
	font-style: italic;
	font-size: 20px;
}
/*.moto-words p:hover {
	color: grey;
}*/

#one-link{
	margin-right: 10px;
}

.footer-closer h6 {
	font-size: 12px
}


@media (min-width: 1200px)
.footer-container { 
max-width: 1140px; 
}

@media(min-width: 992px)
.footer-container {
	max-width: 960px;
}

@media (min-width: 768px)
.footer-container {
	max-width: 720px;
}

@media (min-width: 576px)
.footer-container{
	max-width: 540px;
}